<div id="main-content">
  <form [formGroup]="mainForm" id="examples-content">
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>addressValidator Example:</h3>
        <label for="address">Address Input Validation: </label>
        <input type="text" name="address" id="address" formControlName="address" addressValidation showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: addressTSSnippet, format: 'TypeScript' },
          { template: addressHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>alphabetOnlyValidator Example:</h3>
        <label for="alphabet">Alphabet Only Input Validation: </label>
        <input type="text" name="alphabet" id="alphabet" formControlName="alphabet" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: alphabetTSSnippet, format: 'TypeScript' },
          { template: alphabetHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      >
      </app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>dateDD_MM_YYYYValidator Example:</h3>
        <label for="dateDDMMYYYY">Date format dd-MM-YYYY or dd.MM.YYYY or dd/MM/YYYY Input Validation: </label>
        <input type="text" name="dateDDMMYYYY" id="dateDDMMYYYY" formControlName="dateDDMMYYYY" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: dateDDMMYYYYTSSnippet, format: 'TypeScript' },
          { template: dateDDMMYYYYTSSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>dateYYYY_MM_DDValidator Example:</h3>
        <label for="dateYYYYMMDD">Date format YYYY-MM-dd Input Validation: </label>
        <input type="text" name="dateYYYYMMDD" id="dateYYYYMMDD" formControlName="dateYYYYMMDD" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: dateYYYYMMDDTSSnippet, format: 'TypeScript' },
          { template: dateYYYYMMDDHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>emailValidator Example:</h3>
        <label for="email">Email Input Validation: </label>
        <input type="text" name="email" id="email" formControlName="email" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: emailTSSnippet, format: 'TypeScript' },
          { template: emailHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>ipAddressValidator Example:</h3>
        <label for="ipAddress">IP Address Input Validation: </label>
        <input type="text" name="ipAddress" id="ipAddress" formControlName="ipAddress" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: ipAddressTSSnippet, format: 'TypeScript' },
          { template: ipAddressHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>iPv4Validator Example:</h3>
        <label for="ipv4">IPv4 Input Validation: </label>
        <input type="text" name="ipv4" id="ipv4" formControlName="ipv4" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: ipv4TSSnippet, format: 'TypeScript' },
          { template: ipv4HTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>iPv6Validator Example:</h3>
        <label for="ipv6">IPv6 Input Validation: </label>
        <input type="text" name="ipv6" id="ipv" formControlName="ipv6" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: ipv6TSSnippet, format: 'TypeScript' },
          { template: ipv6HTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>numericsOnlyValidator Example:</h3>
        <label for="numeric">Numeric Only Input Validation: </label>
        <input type="text" name="numeric" id="numeric" formControlName="numeric" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: numericTSSnippet, format: 'TypeScript' },
          { template: numericHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>noSpecialsValidator Example:</h3>
        <label for="noSpecial">No Special Characters allowed Input Validation: </label>
        <input type="text" name="noSpecial" id="noSpecial" formControlName="noSpecial" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: noSpecialTSSnippet, format: 'TypeScript' },
          { template: noSpecialHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>passportValidator Example:</h3>
        <label for="passport">Passport Input Validation: </label>
        <input type="text" name="passport" id="passport" formControlName="passport" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: passportTSSnippet, format: 'TypeScript' },
          { template: passportHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>passwordValidator Example:</h3>
        <label for="password">Password Input Validation: </label>
        <input type="text" name="password" id="password" formControlName="password" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: passwordTSSnippet, format: 'TypeScript' },
          { template: passwordHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>phoneNumberValidator Example:</h3>
        <label for="phone">Phone Input Validation: </label>
        <input type="text" name="phone" id="phone" formControlName="phone" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: phoneTSSnippet, format: 'TypeScript' },
          { template: phoneHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>spaceValidator Example:</h3>
        <label for="space">Space Input Validation: </label>
        <input type="text" name="space" id="space" formControlName="space" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: spaceTSSnippet, format: 'TypeScript' },
          { template: spaceHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>spaceRestrictionValidator Example:</h3>
        <label for="spaceRes">Leading and trailing Space Input Validation: </label>
        <input type="text" name="spaceRes" id="spaceRes" formControlName="spaceRes" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: spaceResTSSnippet, format: 'TypeScript' },
          { template: spaceResHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>ssnValidator Example:</h3>
        <label for="ssn">SSN Input Validation: </label>
        <input type="text" name="ssn" id="ssn" formControlName="ssn" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: ssnTSSnippet, format: 'TypeScript' },
          { template: ssnHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>timeHH_MM_12Validator Example:</h3>
        <label for="timeHHMM12">Time HH:MM 12 hour format Input Validation: </label>
        <input type="text" name="timeHHMM12" id="timeHHMM12" formControlName="timeHHMM12" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: timeHHMM12TSSnippet, format: 'TypeScript' },
          { template: timeHHMM12HTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>timeHH_MM_24Validator Example:</h3>
        <label for="timeHHMM24">Time HH:MM 24 hour format Input Validation: </label>
        <input type="text" name="timeHHMM24" id="timeHHMM24" formControlName="timeHHMM24" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: timeHHMM24TSSnippet, format: 'TypeScript' },
          { template: timeHHMM24HTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>timeHH_MM_SS_24Validator Example:</h3>
        <label for="timeHHMMSS24">Time HH:MM:SS 24 hour format Input Validation: </label>
        <input type="text" name="timeHHMMSS24" id="timeHHMMSS24" formControlName="timeHHMMSS24" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: timeHHMMSS24TSSnippet, format: 'TypeScript' },
          { template: timeHHMMSS24HTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>urlValidator Example:</h3>
        <label for="url">URL Input Validation: </label>
        <input type="text" name="url" id="url" formControlName="url" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: urlTSSnippet, format: 'TypeScript' },
          { template: urlHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>zipCodeValidator Example:</h3>
        <label for="zipCode">Zip Code Input Validation: </label>
        <input type="text" name="zipCode" id="zipCode" formControlName="zipCode" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: zipCodeTSSnippet, format: 'TypeScript' },
          { template: zipCodeHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>compareToValidator Example:</h3>
        <label for="compareDate">Compares if the value is greater then or equal to to the previous input: </label>
        <input type="date" name="compareDate" id="compareDate" formControlName="compareDate" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: compareDateTSSnippet, format: 'TypeScript' },
          { template: compareDateHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>earlierThenValidator Example:</h3>
        <label for="earlierDate">Compares if the value is earlier then today: </label>
        <input type="date" name="laterDate" id="earlierDate" formControlName="earlierDate" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: earlierDateTSSnippet, format: 'TypeScript' },
          { template: earlierDateHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>laterThenValidator Example:</h3>
        <label for="laterDate">Compares if the value is later then or equal to to the previous input: </label>
        <input type="date" name="laterDate" id="laterDate" formControlName="laterDate" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: laterDateTSSnippet, format: 'TypeScript' },
          { template: laterDateHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>requiredWhenValidator Example:</h3>
        <label for="requiredCheck">This triggers validation on a following input: </label>
        <input type="checkbox" name="requiredCheck" id="requiredCheck" (click)="requireChange($event)" />
        <label for="requiredWhen">Conditional validation on an input: </label>
        <input type="text" name="requiredWhen" id="requiredWhen" formControlName="requiredWhen" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: requiredWhenTSSnippet, format: 'TypeScript' },
          { template: requiredWhenHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>linkToValidator Example:</h3>
        <label for="linkTo">This input is linked to the following one: </label>
        <input type="text" name="linkTo" id="linkTo" formControlName="linkTo" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: linkToTSSnippet, format: 'TypeScript' },
          { template: linkToHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>linkedToValidator Example:</h3>
        <label for="linkedTo">This input has been linked to by the previous one: </label>
        <input type="text" name="linkedTo" id="linkedTo" formControlName="linkedTo" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: linkedToTSSnippet, format: 'TypeScript' },
          { template: linkedToHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>regexpValidator Example:</h3>
        <label for="regexp">RegExp Validation: </label>
        <input type="text" name="regexp" id="regexp" formControlName="regexp" showValidation />
      </div>
      <app-snippets
        [snippets]="[
          { template: regexpTSSnippet, format: 'TypeScript' },
          { template: regexpToHTMLSnippet, format: 'HTML' }
        ]"
        [style]="{ width: '45vw' }"
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>dynamicPasswordValidator Example:</h3>
        <label for="dynamicPassword">Dynamic Password Validation: </label>
        <input
          type="text"
          name="dynamicPassword"
          id="dynamicPassword"
          formControlName="dynamicPassword"
          showValidation
        />
      </div>
      <app-snippets [style]="{ width: '45vw' }"></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>Word count Example:</h3>
        <label for="wordCount">Word Count Validation: </label>
        <input type="text" name="wordCount" id="wordCount" formControlName="wordCount" showValidation />
      </div>
      <app-snippets [style]="{ width: '45vw' }"></app-snippets>
    </div>
  </form>
</div>
