<div id="main-content">
  <form [formGroup]="templateForm" id="examples-content">
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>addressValidation Example:</h3>
        <label for="address">Address Input Validation: </label>
        <input
          type="text"
          name="address"
          id="address"
          formControlName="address"
          address
          showValidation
        />
      </div>
      <app-snippets
      
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>alphabetOnlyValidation Example:</h3>
        <label for="alphabet">Alphabet Only Input Validation: </label>
        <input
          type="text"
          name="alphabet"
          id="alphabet"
          formControlName="alphabet"
          alphabetOnly
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>dateDD_MM_YYYY Example:</h3>
        <label for="dateDDMMYYYY"
          >Date format dd-MM-YYYY or dd.MM.YYYY or dd/MM/YYYY Input Validation:
        </label>
        <input
          type="text"
          name="dateDDMMYYYY"
          id="dateDDMMYYYY"
          formControlName="dateDDMMYYYY"
          dateDD_MM_YYYY
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>dateYYYY_MM_DD Example:</h3>
        <label for="dateYYYYMMDD"
          >Date format YYYY-MM-dd Input Validation:
        </label>
        <input
          type="text"
          name="dateYYYYMMDD"
          id="dateYYYYMMDD"
          formControlName="dateYYYYMMDD"
          dateYYYY_MM_DD
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>emailValidation Example:</h3>
        <label for="email">Email Input Validation: </label>
        <input
          type="text"
          name="email"
          id="email"
          formControlName="email"
          email
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>ipAddressValidation Example:</h3>
        <label for="ipAddress">IP Address Input Validation: </label>
        <input
          type="text"
          name="ipAddress"
          id="ipAddress"
          formControlName="ipAddress"
          ipAddress
          showValidation
        />
      </div>
      <app-snippets
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>iPv4Validation Example:</h3>
        <label for="ipv4">IPv4 Input Validation: </label>
        <input
          type="text"
          name="ipv4"
          id="ipv4"
          formControlName="ipv4"
          iPv4
          showValidation
        />
      </div>
      <app-snippets
 
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>iPv6Validation Example:</h3>
        <label for="ipv6">IPv6 Input Validation: </label>
        <input
          type="text"
          name="ipv6"
          id="ipv"
          formControlName="ipv6"
          iPv6
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>numericsOnlyValidation Example:</h3>
        <label for="numeric">Numeric Only Input Validation: </label>
        <input
          type="text"
          name="numeric"
          id="numeric"
          formControlName="numeric"
          numericsOnly
          showValidation
        />
      </div>
      <app-snippets
  
      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>noSpecialsValidation Example:</h3>
        <label for="noSpecial"
          >No Special Characters allowed Input Validation:
        </label>
        <input
          type="text"
          name="noSpecial"
          id="noSpecial"
          formControlName="noSpecial"
          noSpecials
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>passportValidation Example:</h3>
        <label for="passport">Passport Input Validation: </label>
        <input
          type="text"
          name="passport"
          id="passport"
          formControlName="passport"
          passport
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>passwordValidation Example:</h3>
        <label for="password">Password Input Validation: </label>
        <input
          type="text"
          name="password"
          id="password"
          formControlName="password"
          password
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>phoneNumberValidation Example:</h3>
        <label for="phone">Phone Input Validation: </label>
        <input
          type="text"
          name="phone"
          id="phone"
          formControlName="phone"
          phoneNumber
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>singleSpaceValidation Example:</h3>
        <label for="space">Single Space Input Validation: </label>
        <input
          type="text"
          name="space"
          id="space"
          formControlName="space"
          singleSpace
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>spaceRestrictionValidation Example:</h3>
        <label for="spaceRes"
          >Leading and trailing Space Input Validation:
        </label>
        <input
          type="text"
          name="spaceRes"
          id="spaceRes"
          formControlName="spaceRes"
          spaceRestriction
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>ssnValidation Example:</h3>
        <label for="ssn">SSN Input Validation: </label>
        <input
          type="text"
          name="ssn"
          id="ssn"
          formControlName="ssn"
          ssn
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>timeHH_MM_12 Example:</h3>
        <label for="timeHHMM12"
          >Time HH:MM 12 hour format Input Validation:
        </label>
        <input
          type="text"
          name="timeHHMM12"
          id="timeHHMM12"
          formControlName="timeHHMM12"
          timeHH_MM_12
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>timeHH_MM_24 Example:</h3>
        <label for="timeHHMM24"
          >Time HH:MM 24 hour format Input Validation:
        </label>
        <input
          type="text"
          name="timeHHMM24"
          id="timeHHMM24"
          formControlName="timeHHMM24"
          timeHH_MM_24
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>timeHH_MM_SS_24 Example:</h3>
        <label for="timeHHMMSS24"
          >Time HH:MM:SS 24 hour format Input Validation:
        </label>
        <input
          type="text"
          name="timeHHMMSS24"
          id="timeHHMMSS24"
          formControlName="timeHHMMSS24"
          timeHH_MM_SS_24
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>urlValidation Example:</h3>
        <label for="url">URL Input Validation: </label>
        <input
          type="text"
          name="url"
          id="url"
          formControlName="url"
          url
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>zipCodeValidation Example:</h3>
        <label for="zipCode">Zip Code Input Validation: </label>
        <input
          type="text"
          name="zipCode"
          id="zipCode"
          formControlName="zipCode"
          zipCode
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>compareToValidation Example:</h3>
        <label for="compareDate"
          >Compares if the value is greater then or equal to to the previous
          input:
        </label>
        <input
          type="date"
          name="compareDate"
          id="compareDate"
          formControlName="compareDate"
          [compareTo]="{
            fieldName: 'laterDate',
            comparison: '>='
          }"
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>earlierThenValidation Example:</h3>
        <label for="earlierDate"
          >Compares if the value is earlier then today:
        </label>
        <input
          type="date"
          name="laterDate"
          id="earlierDate"
          formControlName="earlierDate"
          [earlierThen]="{
            date: today
          }"
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>laterThenValidation Example:</h3>
        <label for="laterDate"
          >Compares if the value is later then or equal to to the previous
          input:
        </label>
        <input
          type="date"
          name="laterDate"
          id="laterDate"
          formControlName="laterDate"
          [laterThen]="{
            date: today
          }"
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>requiredWhenValidation Example:</h3>
        <label for="requiredCheck"
          >This triggers validation on a following input:
        </label>
        <input
          type="checkbox"
          name="requiredCheck"
          id="requiredCheck"
          (click)="requireChange($event)"
        />
        <label for="requiredWhen">Conditional validation on an input: </label>
        <input
          type="text"
          name="requiredWhen"
          id="requiredWhen"
          formControlName="requiredWhen"
          [requiredWhen]="{
            conditional: required
          }"
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>linkToValidation Example:</h3>
        <label for="linkTo">This input is linked to the following one: </label>
        <input
          type="text"
          name="linkTo"
          id="linkTo"
          formControlName="linkTo"
          [linkTo]="{
            link: 'linkedTo'
          }"
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>linkedToValidation Example:</h3>
        <label for="linkedTo"
          >This input has been linked to by the previous one:
        </label>
        <input
          type="text"
          name="linkedTo"
          id="linkedTo"
          formControlName="linkedTo"
          [linkedTo]="{
            link: 'linkTo'
          }"
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>regexpValidation Example:</h3>
        <label for="regexp">RegExp Validation: </label>
        <input
          type="text"
          name="regexp"
          id="regexp"
          formControlName="regexp"
          [regExp]="{
            regExp: regexp
          }"
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
    <div class="snippet-example-pair">
      <div class="input-wrapper">
        <h3>regexpNotValidation Example:</h3>
        <label for="regexpNot">RegExp exclude Validation: </label>
        <input
          type="text"
          name="regexpNot"
          id="regexpNot"
          formControlName="regexpNot"
          [regExpNot]="{
            regExp: regexp
          }"
          showValidation
        />
      </div>
      <app-snippets

      ></app-snippets>
    </div>
  </form>
</div>

