<div id="fg-content">
    <div class="snippet-example-pair">
        <form [formGroup]="formValidationForm">
          <div class="input-wrapper">
            <label for="compare">This is a control input: </label>
            <input
              type="text"
              name="compare"
              id="compare"
              formControlName="compare"
            />
          </div>
          <div class="input-wrapper">
            <h3>requiredIf Example:</h3>
            <label for="if"
              >This input is valid only if the control input is not empty:
            </label>
            <input
              type="text"
              name="if"
              id="if"
              formControlName="if"
              showValidation
            />
          </div>
          <div class="input-wrapper">
            <h3>requiredIfNot Example:</h3>
            <label for="ifNot"
              >This input is valid only if the control input is empty:
            </label>
            <input
              type="text"
              name="ifNot"
              id="ifNot"
              formControlName="ifNot"
              showValidation
            />
          </div>
          <div class="input-wrapper">
            <h3>requiredEther Example:</h3>
            <label for="ether"
              >This input is valid only if ether it self or control input has a value:
            </label>
            <input
              type="text"
              name="ether"
              id="ether"
              formControlName="ether"
              showValidation
            />
          </div>
        </form>
        <app-snippets
          id="fg-snippet"
          [tsSnippet]="tsSnippet"
          [htmlSnippet]="htmlSnippet"
        ></app-snippets>
      </div>
</div>

